In [1]:
!pip3 install pymysql

Requirement already satisfied: pymysql in c:\users\chaud\anaconda3\lib\site-packages (1.0.2)

In [2]:
!pip3 install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\chaud\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in c:\users\chaud\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: prettytable<1 in c:\users\chaud\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\chaud\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\chaud\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\chaud\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\chaud\anaconda3\lib\site-packages (from ipython-sql) (1.4.39)
Requirement already satisfied: decorator in c:\users\chaud\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\chaud\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (63.4.1)
Requirement already satisfied: jedi>=0.16 in c:\users\chaud\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\chaud\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\chaud\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\chaud\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\chaud\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in c:\users\chaud\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in c:\users\chaud\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\chaud\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\chaud\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\chaud\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\chaud\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [3]:
!pip3 install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\chaud\anaconda3\lib\site-packages (2.1.1)

In [4]:
import pymysql
import pandas as pd

In [5]:
db_name = "User_data"
db_host = "localhost"
db_username = "root"
db_password = "Mysql@098"

In [6]:
conn = pymysql.connect(
    host = db_host,
    port = int(3306),
    user = "root",
    password = db_password,
    db = db_name)

In [7]:
Questions_table = pd.read_sql_query("Select * from Questions",conn)

C:\Users\chaud\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [8]:
type(Questions_table)

pandas.core.frame.DataFrame

In [9]:
Submissions =  pd.read_sql_query("Select * from Submissions",conn)
Submissions

C:\Users\chaud\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   Submission_ID  Question  JediConsultantID   Submission_Text Submission_Date
0              1         1                 1  Submission_Text1      2023-02-01
1              2         2                 2  Submission_Text2      2023-02-02
2              3         3                 3  Submission_Text3      2023-02-03
3              4         4                 4  Submission_Text4      2023-02-04

In [10]:
JediConsultants = pd.read_sql_query("Select * from JediConsultants",conn)

C:\Users\chaud\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [11]:
JediConsultants

   JediConsultantID         Name                  Email
0                 1  Consultant1  Consultant1@gmail.com
1                 2  Consultant2  Consultant2@gmail.com
2                 3  Consultant3  Consultant3@gmail.com
3                 4  Consultant4  Consultant4@gmail.com

In [12]:
Themes = pd.read_sql_query("Select * from Themes",conn)

C:\Users\chaud\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [13]:
Themes

   Theme_ID ThemeName
0         1    Theme1
1         2    Theme2
2         3    Theme3
3         4    Theme4

In [14]:
conn.close()